<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">  
	
	<!--jms连接工厂-->
	<bean id="jmsFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>
	
	<!--jms Topic-->
	<bean id="myTopic" class="org.apache.activemq.command.ActiveMQTopic" autowire="constructor">
		<constructor-arg value="STOCKS.JAVA"/>
	</bean>
	
	<!--消息监听器-->
	<bean id="myMessageListener" class="com.wangzhu.jms.MyMessageListener"></bean>
	
	<!--jms Consumer-->
	<bean id="javaConsumer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsFactory"/>
		<property name="destination" ref="myTopic"/>
		<property name="messageListener" ref="myMessageListener"/>
	</bean>
	
	<!--jms 模版-->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory"/>
	</bean>
	
	<!--消息发布器-->
	<bean id="springPublisher" class="com.wangzhu.jms.SpringPublisher">
		<property name="template" ref="jmsTemplate"/>
		<property name="topic" ref="myTopic"/>
	</bean>
</beans>