<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-autowire="constructor"	>

	<bean id="autoWiringDao" class="com.wangzhu.spring.autowiring.AutoWiringDao">
		<property name="daoName" value="autoWiringDao"/>		
	</bean>	
	<!--
	<bean id="autoWiringDao1" class="com.wangzhu.spring.autowiring.AutoWiringDao">
		<property name="daoName" value="autoWiringDao1"/>		
	</bean>

	<bean id="autoWiringDao2" class="com.wangzhu.spring.autowiring.AutoWiringDao">
		<property name="daoName" value="autoWiringDao2"/>		
	</bean>
	
	<bean class="com.wangzhu.spring.autowiring.AutoWiringDao">
		<property name="daoName" value="null"/>		
	</bean>
	-->
	<bean id="autoWiringService" class="com.wangzhu.spring.autowiring.AutoWiringService"></bean>
</beans>